/* StartingScreen.css */

.starting-screen {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  height: 100vh;
  background-color: black; /* Set background color to black */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.play-button {
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 50px; /* Adjust the margin as needed */
  background-color: #38b6ff;
  font-weight: 300;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.3s ease;
}

.play-button:hover {
  background-color: #1485ee;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .play-button {
    font-size: 25px;
    padding: 15px 30px;
    margin-bottom: 50px;
  }
}

/* Medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .play-button {
    font-size: 20px;
    padding: 12px 25px;
    margin-bottom: 40px;
  }
}

/* Small devices (landscape phones, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .play-button {
    font-size: 12px;
    font-weight: 300;
    padding: 10px 20px;
    margin-bottom: 30px;
    height:80px;
    width:140px;
    margin-top: 250px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .play-button {
    font-size: 16px;
    padding: 8px 16px;
    margin-bottom: 20px;
    height:80px;
    width:140px;
  }
}
